.App {
  text-align: center;
}

/* background-color: #92db92; */


html{
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

/* HEADER */
.header-background {
  background-color: #92db92;
  width: 100%;
}

.header {
  background-color: #92db92;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 130%;
  grid-template-areas: 'title login';
}

.header__link {
  grid-area: title;
  margin-right: auto;
  color: black;
}

.header__title {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.header__login {
  margin: auto;
  color: black;
  grid-area: login;
}

.login__text {
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}

/* TopicsList */
.topics-list {
  padding-left: 0;
  padding-bottom: 15px;
  margin-bottom: 0;
  border-bottom: 1px solid #92db92;
}

.topic {
  margin-left: 0;
}

.topic__link {
  margin-left: 10%;
  text-decoration: none;
  color: black;
}

/* Articles */
.articles {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.articles__header {
  display: grid;
  grid-template-areas: 'empty sorting posting';
  grid-template-columns: 100px auto 100px;
}

.sorting {
  grid-area: sorting;
}

.sorting__list {
  padding: 0;
}

.sorting__list__element--deactivated {
  list-style-type: none;
  display: inline;
  padding: 0px 30px;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.sorting__list__element--activated {
  list-style-type: none;
  display: inline;
  padding: 0px 30px;
  color: #416341;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.article-card {
  margin: 0 auto 20px auto;
  width: 50rem;
  height: 10rem;
  background-color: #92db92;
  border-radius: 8px;
}

.articleCard__info {
  margin-right: auto;
  margin-left: 15px;
  text-align: left;
}

.articleCard__title {
  margin-right: auto;
  margin-left: 15px;
  font-size: 25px;
  text-align: left;
}

button {
  background-color: #92db92;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 0.938rem;
  cursor: pointer;
  margin-left: 0.938rem;
  margin-bottom: 0.938rem;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.individualArticle-card {
  margin: 0 auto 20px auto;
  width: 80%;
  height: 15%;
  background-color: #c7dac7;
  border-radius: 8px;
}

.comment-submit {
  margin: 0 auto 20px auto;
  width: 80%;
}

.articleCard__title {
  margin-right: auto;
  margin-left: 15px;
  font-size: 15px;
  text-align: left;
}

.user__signout {
  /* display: inline; */
  width: 1%;
  /* height: 1%; */
  /* margin: 0;
  padding: 0;
  padding-left: 10px; */
}

.header__login {
  margin: auto;
  color: black;
}

.header__user {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-left: 50%;
}
